header{
text-align: center;
background-color: darkseagreen;
}
body{
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
height: 100vmin;
}
.contenedor{
    display:flex;
    flex-direction: column;
}

section{
   
   
  
 
   height: 100vh;
   background-color: salmon;
   padding:10px;
 
   
}
article{
    
   background-color: blanchedalmond;
    gap: 5px;
   
}
h2{
    background-color: black;
    color: white;
    width: 100%;
}
ul{
    list-style: none;
}